# This is sql_queries.ipynb

In [ ]:
print('Hello, this is my Jupyter notebook!')